/* ABOUT PAGE */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

.center p {
  margin: 1rem;
  max-width: 1000px;
}

.about_buttons {
  display: flex;
  flex-direction: row;
}

.about_button {
  margin: 1rem;
}

.skills_box {
  border: 1px solid black;
  margin: 1rem;
  width: 400px;
  height: 400px;
  text-align: center;
}

/* Title */
.skills_box > h2 {
  margin-top: 5px;
}

.languages_box,
.frameworks_box,
.tools_box {
  display: flex;
  flex-direction: row;
}

.individual_column > h4 {
  margin-bottom: 5px;
}

@media screen and (max-width: 400px) {
  .skills_box {
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 0;
    width: 390px;
    height: 390px;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .skills_box {
    margin: auto;
    margin-top: 1rem;
  }
}