/* HOME PAGE */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  min-height: 100vh;
  z-index: -2;
}

.profile_section {
  width: 100%;
  /* background-color: rgb(246, 246, 246, 0.9);
  z-index: -1; */
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

.center h1 {
  font-size: 40px;
}

.center h2 {
  font-size: 24px;
  font-weight: 400;
}

.center p {
  font-size: 18px;
  font-weight: 400;
}

.profile {
  border-radius: 100%;
  margin: 2rem;
}

.resume_button {
  z-index: 1;
}
  
.featuredprojects_section {
  width: 100%;
}

.featuredprojects_section > .center > h4 {
  font-size: 22px;
}

.learn_more {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 78vw;
  background-color: rgb(226, 240, 249, 0.85);
  border-radius: 3rem;
}

.action_buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 10px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */

@media (max-width: 500px) {
  .center h1 {
    font-size: 30px;
  }

  .center h2 {
    font-size: 20px;
  }

  .center p {
    font-size: 16px;
  }

  .action_buttons {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .project_picture {
    display: flex;
    padding: 5px;
    margin: auto;
  }

  .project_text {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .project_buttons {
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1200px) {
  .project_picture {
    display: flex;
    padding: 5px;
    margin: auto;
  }

  .project_text {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    max-width: 600px;
  }

  .project_buttons {
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
