/* HOME PAGE PROJECTS */

.homepage_project {
  margin: 1rem;
}

.project_picture {
  display: flex;
  margin: auto;
}

.project_text h2 {
  font-size: 28px;
  margin-top: 5px;
}

.project_text h3 {
  font-size: 20px;
  font-weight: 425;
  margin-top: 5px;
}

.project_text h4 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
}

.project_text p {
  font-size: 16px;
  font-weight: 350;
  margin-top: 1rem;
}

.project_buttons {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.project_buttons .github_button {
  margin-top: 1rem;
  margin-left: 0rem;
}

.project_buttons .live_button {
  margin-top: 1rem;
  margin-left: 1rem;
}

@media (max-width: 500px) {
  .project_picture {
    width: 380px;
    height: 266px;
  }

  .project_text h2 {
    font-size: 24px;
  }

  .project_text h3 {
    font-size: 16px;
  }

  .project_text h4 {
    font-size: 14px;
  }

  .project_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .project_text {
    text-align: center;
  }

  .project_buttons {
    text-align: center;
    margin-left: 0rem;
  }
}

/* PROJECT PAGE PROJECTS */

.projectpage_project {
  border: 2px solid rgba(39, 37, 37, 0.85);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-width: 525px;
  width: 525px;
}

.projectpage_project_image {
  border: 1px solid rgb(44, 43, 43);
  margin: 1rem;
}

.projectpageproject_text {
  margin: 1rem;
}

.projectpageproject_text h2 {
  font-size: 28px;
}

.projectpageproject_text h3 {
  font-size: 20px;
  font-weight: 425;
  margin-top: 5px;
}

.projectpageproject_text h4 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1rem;
}

.projectpageproject_text p {
  font-size: 16px;
  font-weight: 350;
  margin-top: 1rem;
}

.projectpageproject_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Smaller Mobile */
@media (max-width: 500px) {
  .projectpage_project {
    border: 0px solid rgba(39, 37, 37, 0.85);
    min-width: 395px;
    width: 395px;
  }

  .projectpage_project_image {
    width: 380px;
    height: 266px;
    margin: 0rem;
    margin-top: 1rem;
  }

  .projectpageproject_buttons {
    margin-top: 1rem;
  }
}

/* Larger Mobile */
@media (min-width: 501px) and (max-width: 700px) {
  .projectpage_project {
    min-width: 450px;
    width: 450px;
  }

  .projectpage_project_image {
    width: 380px;
    height: 266px;
    margin: 0rem;
    margin-top: 1rem;
  }

  .projectpageproject_buttons {
    margin-top: 1rem;
  }
}
