.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(139, 174, 202, 0.85);
  box-shadow: 0 3px 9px 0 rgb(0 0 0 / 20%);
  align-items: center;
}

.logo {
  margin: 1rem;
  margin-left: 18rem;
}

.navbuttons {
  margin: 1rem;
  margin-right: 18rem;
}

.navbuttons > .navlink {
  margin: 1rem;
  float: left;
}

.navbuttons > .navlink > h2 {
  color: black;
  font-size: 18px;
  font-weight: 450;
  line-height: 36px;
}