/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(139, 174, 202, 0.85);
  box-shadow: 0 3px 9px 0 rgb(0 0 0 / 20%);
  align-items: center;
}

.logo {
  margin: 1rem;
  margin-left: 14rem;
}

.navbuttons {
  margin: 1rem;
  margin-right: 14rem;
}

.navbuttons > .navlink {
  margin: 0.5rem;
  margin-right: 1rem;
  float: left;
}

.navbuttons > .navlink > h2 {
  color: black;
  font-size: 18px;
  font-weight: 450;
  line-height: 18px;
}

/* Small mobile */
@media (max-width: 500px) {
  .logo {
    margin-left: 1rem;
  }

  .logoimage {
    width: 160px;
    height: 48px;
  }

  .navbuttons {
    margin-right: 1rem;
  }
}

/* larger mobile */
@media (min-width: 501px) and (max-width: 850px) {
  .logo {
    margin-left: 4rem;
  }

  .navbuttons {
    margin-right: 4rem;
  }
}
